---
import Themetoggle from './Themetoggle.astro';
---

<footer class='flex justify-between items-center'>
	<a
		class='text-slate/20'
		href='https://www.tryarvin.com/chatgpt-prompt-generator/chatgpt-prompts-for-finance/'
		>Prompts</a
	>
	<div>
		<Themetoggle />
	</div>
</footer>
